/*font-family: 'Chewy', cursive;
font-family: 'Luckiest Guy', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Slackey', cursive;*/



/*----- STYLES FOR START SCREEN -----*/

#start_screen h1 {
  font-family: 'Luckiest Guy', cursive;
  color: white;
  font-size: 5em;
  text-shadow: 2px 3px 6px rgba(0,0,0,0.5);
  margin-bottom: 10px;
}

#start_screen h2 {
  color: gray;
  font-family: 'Raleway', sans-serif;
}

#start_screen img {
  width: 80%;
}

#start_screen {
  width: 100%;
  height: 100%;
  top: 0px;
  background: #ADCFCF;
  position: fixed;
  z-index: 100;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 1.2em;
  color: gray;
  background-color: #FFFA8E;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
}

.game_easy {
  position: relative;
  z-index: 1;
}

/*------ STYLES FOR GAME BOARD ------*/
body {
  background:#ADCFCF;
  margin: 0px;
}

header {
  text-align: center;
}

#game_easy h1 {
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  font-size: 3.5em;
  color: white;
  text-shadow: 2px 3px 6px rgba(0,0,0,0.5);
}

#game_easy h2 {
  background-color: #FFFA8E;
  font-size: 1.2em;
  font-family: 'Raleway', sans-serif;
  padding: 5px;
}

#gamestats {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 550px;
}

#hearts {
  padding-left: 10px;
  font-family: 'Raleway', sans-serif;
}
#timer {
  font-family: 'Raleway', sans-serif;
  padding-right: 10px;
}

#memory_board {
 width: 550px;
 margin: 0px auto;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}

#memory_board > div {
 background: #03487B;
 background-image: url("https://durhamdill.files.wordpress.com/2017/08/swirl_pattern.png");
 /*background-size: cover;*/
 background-repeat: no-repeat;
 height: 120px;
 margin: 5px;
 cursor: pointer;
 flex: 0 120px;
 border: 3px solid gray;
 border-radius: 10px;
 background-clip: inherit;
}

#memory_board > div > img {
  border-radius: 6px;
  width: 100%;
}

.hideImage img{
  visibility: hidden;
}

.showImage img {
  visibility: visible;
}
