/*font-family: 'Chewy', cursive;
font-family: 'Luckiest Guy', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Slackey', cursive;*/

body {
  background:#DADADA;
}

.header {
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  font-size: 1.5em;
  /*text-transform: uppercase;*/
}

#memory_board {
 background:#DADADA;
 width: 80%;
 /*height: 80px;*/
 /*padding: 24px;*/
 margin: 0px auto;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}

#memory_board > div {
 background: #03487B;
 height: 180px;
 margin: 5px;
 /*padding: 10px;*/
 cursor: pointer;
 text-align: center;
 flex-basis: 180px;
 border: 3px solid black;
 border-radius: 10px;
 font-family: 'Luckiest Guy', cursive;
 /*color: red;*/
 font-size: 64px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.hideText{
  color: #03487B;
}

.showText {
  color: white;
}
